<footer>
    <div class="container">
      <div class="newLetterContainer">
        <img src="logo.png" alt="logo" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
          debitis officiis, porro eligendi a voluptatum quas amet commodi enim
          iure, ut impedit est ipsum voluptates asperiores perferendis cumque,
          tenetur expedita.
        </p>
        <input type="text" placeholder="enter your email id" />
      </div>

      <div class="linksContainer">
        <div class="title">Useful Links</div>
        <ul>
          <li>
            <a href="#homeSection">Home</a>
          </li>
          <li>
            <a href="#aboutSection">About Us</a>
          </li>
          <li>
            <a href="#programsSection">Program</a>
          </li>
          <li>
            <a href="#educationSection">Education</a>
          </li>
          <li>
            <a href="#gallerySection">Gallery</a>
          </li>
          <li>
            <a href="#joinSection">Join Us</a>
          </li>
        </ul>
      </div>

      <div class="connectContainer">
        <div class="title">Connect with us</div>
        <p>Saraswati colony,Sehatpur,Faridabad<br>
          121003,Haryana
        </p>
        <p>info@ngo.com</p>
        <p>(+91)9568125478</p>
      </div>
    </div>
  </footer>