<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="logo.png" type="image/x-icon" />
    <title>Charity Website</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      #link{
        color: #fff;
        background-color:#e43a47;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-top: 10px;
      }
      button a{
          text-decoration: none;
          color:#fff;
      }

    </style>
  </head>
  <body>
    <div class="fullContainer banner" id="homeSection">
      

      <div class="container">
        <h1>
          Together We Can <br />
          <span>Save Lives</span>
        </h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem
          pariatur iusto saepe fugiat a perferendis voluptates autem est neque
          quibusdam possimus asperiores ad, dignissimos maxime aut placeat
          adipisci provident delectus.
        </p>
        <button>Start with A little</button>
      </div>
    </div>
    <section class="fullContainer" id="aboutSection">
      <div class="container">
        <h2 class="sectionTitle">About Us</h2>
        <p>
          All children deserve the chance to fulfil their potential, but some
          children have multiple barriers holding them back. Like poverty,
          discrimination or disability. As a child sponsor, you’re helping a
          child to tear down those barriers. You give them agency. You’re
          offering essential tools for independence. You’re helping a vulnerable
          child grow into a strong adult – and strong adults create safer
          families and stronger communities for generations to come. Child
          sponsorship transforms lives.
        </p>
        <div class="cards">
          <div class="donationBox">
            <div class="title">Give Donation</div>
            <p style="margin-bottom:30px">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              saepe distinctio culpa?
            </p>
            <a href="/programs" id="link">Donate Now</a>

          </div>
          <div class="VolunteerBox">
            <div class="title">Become a Volunteer</div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              saepe distinctio culpa?
            </p>
            <button>Become Now</button>
          </div>
          <div class="ScholarshipBox">
            <div class="title">Give Scholarship</div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              saepe distinctio culpa?
            </p>
            <button>Give Immediately</button>
          </div>
        </div>
      </div>
    </section>
    <section class="programs" id="programsSection">
      <div class="container">
        <h2 class="sectionTitle">Programs</h2>
        <div class="boxContainer">
          <div class="box">
            <div class="cardImage"></div>
            <div class="programTitle">Education To Every Child</div>
            <div class="donationCount">Donation Goal:<span>$98452</span></div>
            <button class="donateNow" id="1"><a href="/donationForm?campaignId=1">Donate Now</a></button>
          </div>

          <div class="box">
            <div class="cardImage"></div>
            <div class="programTitle">Make life easier for them</div>
            <div class="donationCount">Donation Goal:<span>$98452</span></div>
            <button class="donateNow" id="2"><a href="/donationForm?campaignId=2">Donate Now</a></button>
          </div>
          <div class="box">
            <div class="cardImage"></div>
            <div class="programTitle">Dedicating helping kids</div>
            <div class="donationCount">Donation Goal:<span>$98452</span></div>
            <button class="donateNow" id="3"><a href="/donationForm?campaignId=3">Donate Now</a></button>
          </div>

          <div class="box">
            <div class="cardImage"></div>
            <div class="programTitle">Clean water for people</div>
            <div class="donationCount">Donation Goal:<span>$98452</span></div>
            <button class="donateNow" id="4"><a href="/donationForm?campaignId=4">Donate Now</a></button>
          </div>
        </div>
      </div>
    </section>

    <section class="education" id="educationSection">
      <video autoplay muted loop class="videoPlayer">
        <source src="video.mp4" type="video/mp4">
        your browser does not support HTML5 video
      </video>

      <div class="container">
        <div class="sectionTitle">Education</div>
        <div class="educationContainer">
          <h3>
            Education Is Essential for <br />
            <strong> BETTER FUTURE</strong>
          </h3>
          <p>
            "Extend a hand, light up a soul, Kindness is the bridge to make
            lives whole. In giving, we heal, in love, we grow, For the needy,
            let compassion flow."
          </p>
          <button>Explore Now</button>
        </div>
      </div>
    </section>

    <section class="gallery" id="gallerySection">
      <div class="conatiner">
        <div class="sectionTitle">Gallery</div>

        <div class="galleryContainer">
          <div class="item">
            <span class="title">Image Title </span>
            <img src="image1.jpeg" alt="image" />
          </div>

          <div class="item">
            <span class="title">Image Title </span>
            <img src="image2.jpeg" alt="image" />
          </div>

          <div class="item">
            <span class="title">Image Title </span>
            <img src="image3.jpeg" alt="image" />
          </div>

          <div class="item">
            <span class="title">Image Title </span>
            <img src="image4.jpeg" alt="image" />
          </div>

          <div class="item">
            <span class="title">Image Title </span>
            <img src="image5.avif" alt="image" />
          </div>

          <div class="item">
            <span class="title">Image Title </span>
            <img src="6.avif" alt="image" />
          </div>

          <div class="item">
            <span class="title">Image Title </span>
            <img src="7.jpg" alt="image" />
          </div>

          <div class="item">
            <span class="title">Image Title </span>
            <img src="8.jpg" alt="image" />
          </div>
        </div>
      </div>
    </section>

    <section class="join" id="joinSection">
      <div class="container">
        <div class="joinTitle">Helping Hands & <span>Changing Lives</span></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tempore
          eos illo, ullam doloribus fugiat repellendus autem perspiciatis aut
          saepe officia, modi nesciunt delectus officiis, alias laudantium
          necessitatibus ipsa error?
        </p>
        <button class="joinNow">JOIN US</button>
      </div>
    </section>
  </body>
</html>
