<header>
    <div class="container">
      <div class="logo">
        <img src="logo.png" alt="logo" />
      </div>
      <nav>
        <ul>
          <li>
            <a href="#homeSection">Home</a>
          </li>
          <li>
            <a href="#aboutSection">About Us</a>
          </li>
          <li>
            <a href="#programsSection">Program</a>
          </li>
          <li>
            <a href="#educationSection">Education</a>
          </li>
          <li>
            <a href="#gallerySection">Gallery</a>
          </li>
          <li>
            <a href="#joinSection">Join Us</a>
          </li>
          <li>
            <a href="/signup"><b>Sign Up</b></a>
          </li>
          <li>
            <a href="/login"><b>Login</b></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>